body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
}

#road {
  width: 300px;
  height: 500px;
  background: #555;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid white;
}

/* Player race car */
#player {
  width: 50px;
  height: 90px;
  background: red;
  position: absolute;
  bottom: 20px;
  left: 125px;
  border-radius: 10px;
}

/* Traffic vehicles */
.enemy {
  width: 50px;
  height: 90px;
  background: blue;
  position: absolute;
  top: -100px;
  border-radius: 10px;
}
