body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.info {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
  align-items: center;
  gap: 10px;
}

#road {
  width: 300px;
  height: 500px;
  background: #555;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid white;
}

/* Player race car */
#player {
  width: 50px;
  height: 90px;
  background-image: url("images/player-car.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  left: 125px;
  z-index: 10;
}

/* Traffic vehicles */
.enemy {
  width: 50px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
}

/* Lane lines */
.lane {
  width: 10px;
  height: 50px;
  background-image: url("images/lane.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 145px;
  opacity: 0.7;
}
