body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#road {
  width: 90vw;
  max-width: 320px;
  height: 70vh;
  background: #555;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

/* Player Car */
#car {
  width: 50px;
  height: 90px;
  background: url("images/car.png") center/cover no-repeat;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

/* Traffic */
.enemy {
  width: 50px;
  height: 90px;
  background: url("images/traffic.png") center/cover no-repeat;
  position: absolute;
  top: -100px;
}

#controls {
  margin: 10px;
}

#controls button {
  width: 80px;
  height: 50px;
  font-size: 20px;
}
