body {
  text-align: center;
  font-family: Arial;
  background: #222;
  color: white;
}

#road {
  width: 300px;
  height: 500px;
  background: #555;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 4px solid white;
}

#car {
  width: 50px;
  height: 80px;
  background: red;
  position: absolute;
  bottom: 20px;
  left: 125px;
  border-radius: 8px;
}